* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', 'Arial', sans-serif;
}

i, span, button {
  cursor: pointer;
}

/* Navigation bar */
.nav {
  background: #202020;
  display: block;
  width: 100%;
  height: 56px;
}

/* Video + related info (likes/dislikes, description, etc) */
.content {
  background: #181818;
  display: block;
  width: 100%;
}

/* Sidebar with other videos */
.suggestions {
  background: green;
  display: block;
  width: 100%;
  min-height: 790px;
}

/* For fullscreen display */
@media screen and (min-width: 1015px) {
  .content {
    display: inline-block;
    width: 70%;
  }

  .suggestions {
    display: inline-block;
    width: 30%;
  }
}