* {
  font-family: 'Pragati Narrow', sans-serif;
  font-weight: 500;
}

iframe {
  display: block;
  width: 100%;
  min-height: 545px;
}

.title h2 {
  color: #fff;
}

.title h3, .content span {
  color: #909090;
}

.about {
  margin: 15px 25px 0 25px;
  border-bottom: 1px solid #303030;
  padding-bottom: 15px;
}

.about div {
  display: inline-block;
  width: 50%;
}

.icons {
  text-align: right;
}

.icons span {
  margin-left: 20px;
  padding-bottom: 12px;
  font-size: 1.1rem;
  font-weight: bold;
}

.icons i {
  margin-right: 6px;
}

.icons .fa-thumbs-down {
  margin-left: 20px;
}

.ratio {
  padding: 0 8px;
  border-bottom: 2px solid #909090;
}

.more-info {
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #303030;
}

.profile {
  margin-left: 25px;
  width: 48px;
  height: 48px;
  background: #ffa500;
  border-radius: 25px;
}

.description {
  margin-left: 15px;
}

.description h3 {
  color: #fff;
  font-size: 1.15rem;
}

.fa-check-circle {
  color: #909090;
  margin-left: 4px;
  font-size: 0.7rem;
}

.description h4 {
  color: #909090;
  margin-top: -12px;
}

.hashtags {
  margin-top: 5px;
}

.hashtags a {
  font-size: 1.1rem;
  color: #33A6FF;
  text-decoration: none;
  margin-right: 5px;
}

.description p {
  margin: 10px 0 15px 0;
  color: #fff;
  font-size: 1.1rem;
}

.subscribe {
  margin: 6px 30px 0 auto;
  width: 105px;
  height: 36px;
  font-size: 1.1rem;
  background: #cc1100;
  color: #fff;
  border-radius: 2px;
}